@layout.app({title: 'Home'})
<section class="w-full">
  <div class="max-w-6xl p-4">
    <h1 class="text-sky-600 text-4xl font-semibold">
      This is the home page.
    </h1>
  </div>
</section>
@end
